@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
* {
  padding: 0;
  font-family: "Exo", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(230, 220, 220);
}
header {
  margin-top: 5px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* barra de pesquisa */
.pesquisa {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  padding: 0 15px;
}
#pesquisaboleto {
  padding: 10px;
  border: 1px #4468b2 solid;
  margin-right: 15px;
  border-radius: 15px;
}
.pesquisa button {
  height: 90%;
  background: none;
  border: none;
}

.searchImg {
  display: flex;
  justify-content: center;
  height: 40%;
  background-image: 50%;
  background-position: center;
  background-size: cover;
}
.user {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  border-radius: 100%;
}

.user img {
  background-image: 80%;
  background-size: cover;
  background-position: center;
  height: 80%;
  border: #4468b2 solid 1px;
  border-radius: 100%;
  padding: 5px;
}

.notifications {
  height: 60%;
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  margin: 0 30px;
  border-radius: 100%;
}

.notifications img {
  background-image: 80%;
  background-size: cover;
  background-position: center;
  height: 80%;
}

/* secao dos conteiners */
.conteinerAreas {
  height: 85%;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  margin: 30px;
  justify-content: center;
  align-items: center;
}
.boletos {
  height: 100%;
  background-color: #4468b2;
  width: 65%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.filtros {
  height: 40%;
  background-color: antiquewhite;
  align-items: center;
  display: flex;
}

.filtros div {
  height: 99%;
  background-color: #4468b2;
  margin: 5px;
  width: 50%;
  border-radius: 10px;
  padding: 5px;
}
.vencimentos-boletos {
  height: 60%;
  padding: 10px;
  background-color: whitesmoke;
}

.ordenar {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;
}
.ordenar-conteiner {
  display: flex;
  height: 70%;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #fdfdfd;

}











/* parte da direita */
.carteira {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background-color: aquamarine;
}

.saldo {
  margin: 7px;
  height: 60%;
  border-radius: 15px;
  background-color: #4468b2;
}
.despesas {
  margin: 7px;
  padding: 5px;
  height: 40%;
  background-color: red;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.despesas h3 {
  height: 10%;
  margin-left: 10px;
}
.vencimentos {
  height: 90%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vencimentos div {
  border-radius: 10px;
  background-color: #4468b2;
  height: 40%;
  margin: 10px;
}
